@charset "UTF-8";

body {
	background-image: url("pngtree-simple-hand-drawn-plants-seaside-boat-image_8509.jpg");
	background-size: cover;
}

h2 {
	
	padding-top: 100px;
	padding-left: 150px;
}

.push {
	text-align: center;
	margin-top: 300px;
}

button {
	padding: 20px;
	font-size: 20px;
	border-radius: 20px;
	margin-bottom: 20px;
	opacity: 0.7;
}

button:hover {
  opacity: 1;
}

div > p {
	color: red;
	font-size: 20px;
	font-weight: 700;
	margin-top: 20px
}