@charset "UTF-8";

body {
	background-image: url("pngtree-simple-hand-drawn-plants-seaside-boat-image_8509.jpg");
	background-size: cover;
	margin: 0;
}

h2 {
	
	padding-top: 100px;
	padding-left: 150px;
}

.push {
	text-align: center;
	margin-top: 300px;
}

button {
	padding: 20px;
	font-size: 20px;
	border-radius: 20px;
	margin-bottom: 20px;
	opacity: 0.7;
}

button:hover {
  opacity: 1;
}

.push > p {
	color: red;
	font-size: 40px;
	font-family: serif;
	font-weight: 900;
	margin-top: 20px
}

.mp {
	float: right;
	margin-right: 20px;
	margin-top: 40px;
}

header {
  height: 80px;
  background-color: rgba(34, 49, 52, 0.9);
  width: 100%;
}

.logo {
  width: 70px;
  height: 70px;
  margin-left: 5px;
  margin-top: 5px;
}

.seitan {
	float: left;
	color: white;
}

p {
	margin-block-start: 0;
}