@charset "UTF-8";

.ng {
	color: red;
}

.ok {
	color: black;
}

body {
	background-image: url(result.jpg);
	background-size: cover;
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	margin-top: 300px;
}